* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  display: inline;
}

#header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 50px;
}

#combat-container{
  margin-top: 25px;
}

/*Player Content*/
#player-info-container {
  position: relative;
  display: inline-block;
  width: 24.75%;
  height: 400px;
}

#playericon {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}

#playerhealth {
  position: absolute;
  font-family: Impact;
  font-size: 35px;
  left: 125px;
  top: 25px;
}

#player-img {
  position: absolute;
  bottom: 0;
  right: 700px;
  transition: opacity 2s;
}

#player-img.defeat {
  opacity: 0;
}

/*Enemy Content */
#enemy-info-container {
  position: relative;
  display: inline-block;
  width: 24.75%;
  height: 400px;
}

#enemyicon {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 0;
}

#enemyhealth {
  position: absolute;
  font-family: Impact;
  font-size: 35px;
  right: 125px;
  top: 25px;
}

#enemy-img {
  position: absolute;
  bottom: -4px;
  left: 700px;
  transition: opacity 2s;
}

#enemy-img.defeat {
  opacity: 0;
}

/*Combat Scene */
#combat-scene {
  position: relative;
  width: 50%;
  height: 400px;
  display: inline-block;
  overflow: hidden;
}

#background{
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.output {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#combat {
  font-size: 16px;
  width: 800px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.btns {
  width: 150px;
  height: 60px;
  font-size: 25px;
}

#btn1 {
  position: absolute;
  bottom: 50px;
  left: 200px;
}

#btn2 {
  position: absolute;
  bottom: 50px;
  right: 200px;
}

@media screen and (max-width: 1440px){
  #player-img {right: 450px;}
  #enemy-img {left: 450px;}
  #btn1 {left: 80px;}
  #btn2 {right: 80px;}
  #player-info-container {width: 24.65%;}
  #enemy-info-container {width: 24.65%;}
}
